
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/Top">

</div>

<section class="pricing" >
    <div class="row pricing-content">

        <div class="col-four pricing-intro">
            Please confirm the information below and then
            press continue...
            <table>
                <tr>
                    <th align="center" colspan="2"><font size="4"><b>Order</b></font>
                        <br />
<!--                        <p th:text="${#dates.format(${session.order.orderDate}, 'yyyy/MM-dd/HH:mm:ss')}"></p>-->
                    </th>
                </tr>

                <tr>
                    <th colspan="2">Billing Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${session.order.billToFirstName}"> firstName </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text=" ${session.order.billToLastName}">lastName  </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td th:text="${session.order.billAddress1}">  </td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td th:text="${session.order.billAddress2}"> </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td th:text="${session.order.billCity}">  </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td th:text="${session.order.billState}">  </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td th:text="${session.order.billZip}">  </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td th:text="${session.order.billCountry}">  </td>
                </tr>
                <tr>
                    <th colspan="2">Shipping Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${session.order.shipToFirstName}">  </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${session.order.shipToLastName}" > </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td th:text="${session.order.shipAddress1}">  </td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td th:text="${session.order.shipAddress2}">  </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td th:text="${session.order.shipCity}">  </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td th:text="${session.order.shipState}">  </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td th:text="${session.order.shipZip}">  </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td th:text="${session.order.shipCountry}">  </td>
                </tr>

            </table>
            <a href="/order/viewOrder?msg=new" class="Button">Confirm</a>
        </div>
    </div>
</section>

<div th:replace="common/Bottom">

</div>
</body>
</html>

