

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/Top">

</div>

<section class="pricing" >
    <div class="row pricing-content">

        <div class="col-four pricing-intro">

            <table>
                <tr>
                    <th align="center" colspan="2">Order
                        <p th:text="${session.order.orderId}" ></p>
                        <p th:text="${#dates.format(session.order.orderDate, 'yyyy/MM-dd/HH:mm:ss')}"></p>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">Payment Details</th>
                </tr>
                <tr>
                    <td>Card Type:</td>
                    <td th:text="${session.cardType}">
                    </td>
                </tr>
                <tr>
                    <td>Card Number:</td>
                    <td th:text="${session.cardNumber}"></td>
                </tr>
         <!--       <tr>
                   <p th:text="${#dates.format(order.orderDate, 'yyyy/MM-dd/HH:mm:ss')}"></p>

                </tr>-->
                <tr>
                    <th colspan="2">Billing Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${session.order.billToFirstName}" > </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${session.order.billToLastName}">  </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td th:text="${session.order.billAddress1}"> </td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td th:text="${session.order.billAddress2}"> </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td th:text="${session.order.billCity}"> </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td th:text="${session.order.billState}"> </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td th:text="${session.order.billZip}"> </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td th:text="${session.order.billCountry}"> </td>
                </tr>
                <tr>
                    <th colspan="2">Shipping Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${session.order.shipToFirstName}"> </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${session.order.shipToLastName}"> </td>
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td th:text="${session.order.shipAddress1}"> </td>
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td th:text="${session.order.shipAddress2}"> </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td th:text="${session.order.shipCity}"> </td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td th:text="${session.order.shipState}"> </td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td th:text="${session.order.shipZip}"> </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td th:text="${session.order.shipCountry}"> </td>
                </tr>
                <tr>
                    <td>Courier:</td>
                    <td th:text="${session.order.courier}"> </td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>"${sessionScope.order.status}"</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <th>Item ID</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total Cost</th>
                            </tr>
                                <tr th:each="lineItem:${session.order.lineItems}">
                                    <td>
                                        <a th:href="@{/catalog/viewItem(itemId=${lineItem.item.itemId})}">${lineItem.item.itemId}</a>
                                    </td>
                                    <td th:if="${lineItem.item} != null">
                                        ${lineItem.item.attribute1}
                                        ${lineItem.item.attribute2}
                                        ${lineItem.item.attribute3}
                                        ${lineItem.item.attribute4}
                                        ${lineItem.item.attribute5}
                                        ${lineItem.item.product.name}
                                        <i th:if="${lineItem.item} == null">{description unavailable}</i>

                                    </td>

                                    <td th:text="lineItem.quantity">quantity</td>
                                    <p3 th:text="'$'+${#numbers.formatDecimal(lineItem.unitPrice,1,2)}">listpeice</p3>
                                    <p3 th:text="'$'+${#numbers.formatDecimal(lineItem.total,1,2)}">listpeice</p3>

                                </tr>
                            <tr>
                                <th colspan="5">Total:
                                    <p3 th:text="'$'+${#numbers.formatDecimal(session.order.totalPrice,1,2)}">listpeice</p3>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<div th:replace="common/Bottom">

</div>
</body>
</html>

