<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/Top">
</div>
<section class="pricing" >
    <div class="row pricing-content">

        <div class="col-four pricing-intro">
            <h1 class="intro-header" data-aos="fade-up">My Account</h1>

            <p data-aos="fade-up">
            <p th:text="${msg}"></p>
            <form action="/account/editUserInfo" method="Post" th:object="${account}" >
                <h3>User Information</h3>
                <table>
                    <tr>
                        <td>User ID:</td>
                        <td th:text="*{username}"></td>
                    </tr>
                    <tr>
                        <td>New password:</td>
                        <td>
                            <input type="password" size="30" th:field="*{password}" name="password"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Repeat password:</td>
                        <td><input type="password" size="30" name="repeatPassword"/></td>
                    </tr>
                </table>

                <div th:replace="/account/includeAccount::fields"></div>

                <input type="submit" name= "editAccount" class="button button-primary large" value="Save Account Information">
            </form>
            <a href="/log/viewOrderLog">My Orders</a>
            <a href="/log/viewLog">My Log</a>
            </p>
        </div>
    </div>
</section>