

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/Top">

</div>

<h3>Account Information</h3>
<table>
    <tr>
        <td>First name:</td>
        <td>
            <input type="text" size="30"name="account.firstName" th:field="*{session.account.firstName}"/>
        </td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>
            <input type="text"size="30" name="account.lastName" th:field="*{session.account.lastName}"/>
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            <input type="text" size="30" name="account.email" th:field="*{session.account.email}"/>
        </td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>
            <input type="text" size="30"name="account.phone" th:field="*{session.account.phone}"/>
        </td>
    </tr>
    <tr>
        <td>Address 1:</td>
        <td>
            <input type="text" size="30"name="account.address1" th:field="*{session.account.address1}"/>
        </td>
    </tr>
    <tr>
        <td>Address 2:</td>
        <td>
            <input type="text"size="30" name="account.address2" th:field="*{session.account.address2}"/>
        </td>
    </tr>
    <tr>
        <td>City:</td>
        <td>
            <input type="text" size="30"name="account.city" th:field="*{session.account.city}">
        </td>
    </tr>
    <tr>
        <td>State:</td>
        <td>
            <input type="text" size="30" name="account.state" th:field="*{session.account.state}"/>
        </td>
    </tr>
    <tr>
        <td>Zip:</td>
        <td>
            <input type="text" size="30" name="account.zip" th:field="*{session.account.zip}"/>
        </td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>
            <input type="text" size="30" name="account.country"th:field="*{session.account.country}"/>
        </td>
    </tr>
</table>

<h3>Profile Information</h3>

<table>
    <tr>
        <td>Language Preference:</td>
        <td>
            <select name="account.languagePreference">
                <option selected="selected" value="english">english</option>
                <option value="japanese">japanese</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Favourite Category:</td>
        <td>
            <select name="account.favouriteCategoryId">
                <option value="FISH">FISH</option>
                <option selected="selected" value="DOGS">DOGS</option>
                <option value="REPTILES">REPTILES</option>
                <option value="CATS">CATS</option>
                <option value="BIRDS">BIRDS</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Enable MyList</td>
        <td>
            <input th:if="${session.account.listOption } ne null " type="checkbox" value="true" name="${session.account.listOption}" checked="checked">
            <input th:if="${session.account.listOption } eq null " type="checkbox" value="true" name="${session.account.listOption}" >
        </td>
    </tr>
    <tr>
        <td>Enable MyBanner</td>
        <td>
            <input th:if="${session.account.bannerName} ne null " type="checkbox" value="true" name="${session.account.listOption}" checked="checked">
            <input th:if="${session.account.bannerName} eq null " type="checkbox" value="true" name="${session.account.listOption}" >
        </td>
    </tr>

</table>

<div th:replace="common/Bottom">

</div>
</body>
</html>

