

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/Top">

</div>

<section class="pricing" >
    <div class="row pricing-content">
        <div class="col-four pricing-intro">
            <h1 class="intro-header" data-aos="fade-up">Sign In</h1>
            <form action="/account/signOn" method="post">
                <font size="3" color="red" th:text="${msg}"></font>
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="username" value="a" autocomplete="off"/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" value="a" /></td>
                    </tr>

                </table>

                <input type="submit" class="button button-primary large"  value="Login" />
            </form>
            <li><a  href="/account/signOnForm?method=phonenumber">Sign In By PhoneNumber</a></li>

            Need a user name and password?
            <a href="/account/newAccountForm">Register Now!</a>
        </div>
    </div>
</section>



<div th:replace="common/Bottom">

</div>
</body>
</html>

