

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/Top">

</div>


<section class="pricing" >
    <div class="row pricing-content">

        <div class="col-four pricing-intro">

            <h2><br>My Browse Log</h2>

            <table>
                <tr>
                    <th>Item ID</th>
                    <th>Time</th>
                </tr>
                    <tr th:each="browseLogs:${browseLogList}">
                        <td>
                            <a th:href="@{/catalog/viewItem(itemId=${browseLogs.itemId})}" th:text="${browseLogs.itemId}"></a>
                        </td>
                        <td th:text="${browseLogs.logDate}">

                        </td>
                    </tr>
            </table>

            <h2>My Add Item To Cart Log</h2>

            <table>
                <tr>
                    <th>Item ID</th>
                    <th>Time</th>
                </tr>
                    <tr th:each="addItemToCartLogs:${addToItemToCartLogList}">
                        <td>
                            <a th:href="@{catalog/viewItem(itemId=${addItemToCartLogs.itemId})}">itemId</a>
                        </td>
                        <td th:text=" ${addItemToCartLogs.logDate}">

                        </td>
                    </tr>
            </table>
        </div>

        <div class="home-scrolldown">
            <a href="/account/editUserInfoForm" class="scroll-icon smoothscroll">
                <span>Return to My Account</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>

        </div>
    </div>
</section>


<div th:replace="common/Bottom">

</div>
</body>
</html>

